@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.App {
	font-family: 'Prompt', sans-serif;
	background-color: #282c34;
  min-height: 100vh;
	text-align: center;
}

.App-logo {
	height: 10rem;
	margin: 20px 0;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.line {
	display: flex;
  flex-direction: row;
}
